@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mountains+of+Christmas:wght@400;700&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    background-image: url(../assets/musicBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

/* navigation bar style */
.navbar {
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    z-index: 10;
}
.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.navbar .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    transition: all 0.3s ease-in-out;
}
.navbar .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out,
    transform 0.3s ease, text-shadow 0.3s ease;
}
#active {
    color: rgb(255, 0, 0);
}
.navbar .nav-links li a:hover {
    color: rgb(255, 0, 0);
    font-size: 20px;
    transform: translateY(-3px) scale(1.1);
}
.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-icon {
    display: block;
    }
    .navbar {
    margin: 0;
    }
    .navbar .nav_element label i {
    margin-right: 10px;
    }
    .navbar .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: rgb(245, 189, 189);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    }
    .navbar .nav-links.active {
    display: flex;
    }
    .navbar .nav-links li a {
    padding: 15px 0;
    color: black;
    }
    .navbar .nav-links li a:hover {
    color: rgb(240, 81, 81);
    }
    #active {
    color: rgb(255, 0, 0);
    }
}
@media (max-width: 871px) {
    .navbar .nav-links li a {
    font-size: 11px;
    }
}
/* Checkbox to toggle menu */
#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .nav-links {
    display: flex;
}
/* end of navigation bar */

.container1 {
    width: 100%;
    height: 80%;
    display: flex;
}
.item_left {
    width: 60%;
    height: 50%;
    margin-left: 45px;
}
.item_left h1 {
    font-family: "Mountains of Christmas", serif;
    color: white;
    font-size: 6rem;
    display: flex;
    justify-content: flex-start;
}
.item_left h2 {
    font-family: "Mountains of Christmas", serif;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 5rem;
}
.item_left #first_p {
    font-family: "Poppins", serif;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
.item_left #second_p {
    font-family: "Poppins", serif;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}
.item_right {
    width: 40%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.item_right img {
    width: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}

.item_right img:hover {
    transform: scale(1.05);
}

.container2 {
    margin-top: 20px;
    display: flex;
}
.scroll-container {
    background-color: darkred;
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.movie {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    row-gap: 20px;
    transition: 0.3s ease-in-out;
}
.movie img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.movie a {
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}

.link-Netflix {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Netflix {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease-in-out;
}
.text {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.5rem;
}
.Netflix button {
    width: 150px;
    height: 80px;
    background-color:black;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px white;
    border-radius: 20px;
}
button a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}
.movie:hover {
    transform: scale(1.1);
}
.Netflix:hover {
    transform: scale(1.1);
}