/* Base Navbar Styles */
.navbar {
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative; /* Ensure the navbar is above the hero section */
    z-index: 10; /* Higher z-index to ensure it stays on top */
}
.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.navbar .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    transition: all 0.3s ease-in-out;
}
.navbar .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out, transform 0.3s ease, text-shadow 0.3s ease;
}
#active {
    color: black;
}
.navbar .nav-links li a:hover {
    color: rgb(0, 0, 0);
    font-size: 20px;
    transform: translateY(-3px) scale(1.1);
}
.menu-icon {
    display: none; /* Hide menu icon by default */
    font-size: 1.5rem;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Show menu icon on smaller screens */
    }
    .navbar {
        margin: 0;
    }
    .navbar .nav_element label i {
        margin-right: 10px;    
    }
    .navbar .nav-links {
        display: none; /* Hide links initially */
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: rgb(245, 189, 189);
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .navbar .nav-links.active {
        display: flex; /* Show links when active class is added */
    }
    .navbar .nav-links li a {
        padding: 15px 0;
        color: black;
    }
    .navbar .nav-links li a:hover {
        color: rgb(240, 81, 81);
    }
    #active {
        color: rgb(255, 0, 0);
    }    
}
@media (max-width: 871px) {
    .navbar .nav-links li a {
      font-size: 11px;
    }
  }

/* Checkbox to toggle menu */
#menu-toggle {
    display: none; /* Hide checkbox visually */
}

#menu-toggle:checked ~ .nav-links {
    display: flex; /* Show menu when checkbox is checked */
}